// Breakpoints (Just a fallback)
$grid-breakpoints: (
	// Extra small screen / phone
	xs: 0,
	// Small screen / phone
	sm: 544px,
	// Medium screen / tablet
	md: 768px,
	// Large screen / desktop
	lg: 992px,
	// Extra large screen / wide desktop
	xl: 1200px
) !default;

@function breakpoint-next($name, $breakpoints: $grid-breakpoints, $breakpoint-names: map-keys($breakpoints)) {
	$n: index($breakpoint-names, $name);
	@return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

@function breakpoint-prev($name, $breakpoints: $grid-breakpoints, $breakpoint-names: map-keys($breakpoints)) {
	$n: index($breakpoint-names, $name);
	@if($n == 1) {
		@return null;
	}
	@return if($n < length($breakpoint-names), nth($breakpoint-names, $n - 1), null);
}

@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
	$min: map-get($breakpoints, $name);
	@return if($min != 0, $min, null);
}

@function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
	$next: breakpoint-next($name, $breakpoints);
	@return if($next, breakpoint-min($next, $breakpoints) - 1, null);
}

@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
	$min: $name;
	@if type_of($name) != 'number' {
		$min: breakpoint-min($name, $breakpoints);
	}

	@if $min {
		@media (min-width: $min) {
			@content;
		}
	} @else {
		@content;
	}
}

@mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints) {
	$max: $name;
	@if type_of($name) != 'number' {
		$max: breakpoint-max($name, $breakpoints);
	}
	@if $max {
		@media (max-width: $max) {
			@content;
		}
	} @else {
		@content;
	}
}

@mixin media-breakpoint-between($minimal, $maximal, $breakpoints: $grid-breakpoints) {
	$min: $minimal;
	$max: $maximal;

	@if type_of($minimal) != 'number' {
		$min: breakpoint-min($minimal, $breakpoints);
	}
	@if type_of($maximal) != 'number' {
		$max: breakpoint-max($maximal, $breakpoints);
	}

	@if $min {
		@if $max {
			@media (min-width: $min) and (max-width: $max) {
				@content;
			}
		} @else {
			@media (min-width: $min) {
				@content;
			}
		}
	} @else {
		@if $max {
			@media (max-width: $max) {
				@content;
			}
		} @else {
			@content;
		}
	}
}

@mixin media-breakpoint-single($name, $breakpoints: $grid-breakpoints) {
	@include media-breakpoint-between($name, $name, $breakpoints: $grid-breakpoints) {
		@content;
	}
}

@mixin media-breakpoint-up-safe($breakpoint, $breakpoints: $grid-breakpoints) {
	@each $b in map-keys($grid-breakpoints) {
		@if index($breakpoint, $b) {
			@include media-breakpoint-up($breakpoint) {
				@content;
			}
		}
	}
}

@mixin media-breakpoint-down-safe($values, $breakpoints: $grid-breakpoints) {
	@each $breakpoint in map-keys($grid-breakpoints) {
		@if index($values, $breakpoint) {
			@include media-breakpoint-down($breakpoint) {
				@content;
			}
		}
	}
}

@mixin media-breakpoint-portrait {
	@media (orientation: portrait) {
		@content;
	}
}

@mixin media-breakpoint-landscape {
	@media (orientation: landscape) {
		@content;
	}
}

@mixin media-breakpoint-retina {
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		@content;
	}
}
